* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

/* nav */
.navbar {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.navbar .nav-item a {
  color: #212529
}

.nav-item {
  margin: 0 10px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 25px;
  font-weight: bold;
}

.navbar .nav-item .btn {
  color: #FFF;
  background-color: #ff261b;
  border: 1px solid transparent;
  border-radius: 0%;
}

.nav-link.btn.btn-primary:hover,#search-form button:hover, .list-group-item a:hover, #form-box button {
  background-color: #FFF;
  color: #ff261b;
  border-color: #ff261b;
}
/* banner */
#top-container {
  padding: 110px;
  background-color: #f7e9ec;
  border-bottom: 4px solid #ff261b;
  margin-bottom: 30px;
  background-image: url('../img/banner3.jpg');
  background-position: 0 0px;
  background-size: cover;
  color: #FFF
}

#main-title {
  padding: 30px 0;
  font-size: 3rem;

}

#main-subtitle {
  font-size: 1rem;
  padding-bottom: 80px;
}

/* form */

#search-form {
  padding: 30px 100px;
}

#search-form .col-md-10, #search-form .col-md-2 {
  padding: 0;
}

#search-form input, #search-form button {
  width: 100%;
  border-radius: 0;
  height: 50px;
  font-size: 18px;
}

#search-form button {
  color: #FFF;
  background-color: #F03E3E;
  border: 1px solid transparent;
}

/* lista */

#books-container{
  padding: 0 100px;
  padding-bottom: 50px;
}

#book-list .list-group-item {
  margin-bottom: 8px;
  border: 1px solid #ccc;
  padding: 15px 80px;
  color:#212529;
  height: 120px;
}

#book-list .list-group-item p{
  font-size: 15px;
  margin-bottom: 5px;
}

#book-list .list-group-item.new-book  {
  border:none;
  background-color: #fff7cc;
}

.list-group-item img {
  width: 80px;
  position:absolute;
  left: -40px;
  top: calc(50% - 40px);
}

.list-group-item a{
  position:absolute;
  right: 20px;
  top:35px;
  height: 50px;
  line-height: 35px;
  background-color: #F03E3E;
  border: 1px solid transparent;
  border-radius: 0;
}

.new-book-label {
  background-color: #FFD500;
  color: #4d5154;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 10px;
  position: absolute;
  right: 250px;
  top:40px;
  display: none;
}

.new-book .new-book-label {
  display: block;
}

/* add page */
#add-form-container {
  margin-top: 100px
}

#form-box {
  padding: 0;
  box-shadow: 0 1px 5px rgba(0,0,0,.15);
  border-radius: 4px;
  margin-bottom: 50px;
}

#add-form-container h1{
  border-bottom: 200px;
}

#add-form-container h2{
  color: #F03E3E;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 30px;

}

#add-form-container form label{
  font-weight: bold;
}

#add-form-container form input, #add-form-container form textarea {
  border: 2px solid #ccc;
  background-color: #f8f9fA;
}

#form-box button{
  height: 50px;
  width: 200px;
  color: #ccc;
  background-color: #F03E3E;
  border: 1px solid transparent;
  margin-top: 0px;
  font-weight: bold;
}

/* book-view */
#book-view-container {
  margin-top: 100px;
  margin-bottom: 100px;
}

#book-view-container h1{
  margin-bottom: 30px;
}

#img-container img{
  margin-bottom: 30px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid #212521
}

.job-desc {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.bold {
  font-weight: bold;
}

.main-color {
  color: #F03E3E;
}

.back-link {
  border: 1px solid #F03E3E;
  padding: 5px 10px;
  transition: .5s;
}

.back-link:hover {
  background-color: #F03E3E;
  color: #ccc;
  text-decoration: none;
}

/* responsivo */

@media (max-width: 481px) {

  /* navbar */
  #navbarNav {
    text-align: center;
  }

  #nav-ver-livros {
    text-align: center;
  }

  /* home */
  #top-container {
    padding: 50px;
    padding-top: 100px;
  }

  #main-title {
    font-size: 2.2rem;
  }

  #main-subtitle {
    font-size: 1.5rem;
  }

  #search-form {
    padding: 0;
  }

  #books-container {
    padding: 20px;
  }

  .list-group-item{
    padding: 15px 85px;
  }

  .list-group-item h2 {
    font-weight: bold;
    font-size: 1.2rem;
    width: 80%;
  }

  .list-group-item img {
    width: 50px;
    left: 15px;
    top: calc(50% -25px);
  }

  .new-book .new-book-label {
    display: none;
  }
  
  /* book-view */
  .back-link {
    margin-left: 30px;
  }

  #book-view-container p{
    font-size: 1.3rem;
  }

  .book-desc {
    width: 100%;
  }

  /* add view */

  #form-box {
    padding: 25px;
  }

  #form-box button {
    margin-top: 20px;
    width: 100%;
  }

  #form-group {
    margin-top: 20px;
  }
}

/* login view */

#login-form-container {
  margin-top: 100px;
  padding: 0px 350px
}

#login-form-container h1{
  margin-bottom: 50px;
  text-align: center;
}

#login-form-group{
  margin-bottom: 30px;
}

#login-form-container button {
  margin-bottom: 30px;
}